/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03-jul-2014, 19:00:43
    Author     : ymelian
*/

.notify {
    color: red;
}
textarea {
    width: 100%;
}
select {
    width: 100%;
    font-size: large;
}
input {
    width:100%;
}